
#time{font-size: 12px;line-height: 12px;position: absolute;top:0;left:0;margin: 0;padding: 0;}
body{background-color: #000;}
h2{text-align:center;color:#FFF;font-size: 18px;font-weight: normal;}
#seen{display: block;width: 100px;height: 60px;margin:5% auto 0;border-radius: 5px;background-color: #E31111;font-size: 36px;font-weight:normal;text-align: center;color:#FFF;text-decoration: none;line-height: 55px;}
#seen:hover{background-color: #A71010;color:#DEDBDB;}
#tImg{visibility: hidden;width:1px;height: 1px;}
.answer{display:block;font-size:72px;text-align:center;margin: 10% auto;color:#FFF;z-index: 10;text-shadow: 5px 5px 5px #000;}
#content{height: 100%}
.disabled {pointer-events: none;cursor: default;opacity: 0.6;}
[v-cloak]{display:none;}